<div class="container-fluid my-5 py-5">
    <div class="card shadow my-3 px-5">
        <h1 class=" fw-bold mt-3"><%= @workshop.name %></h1>
        <div class="row mt-3">
            <p class="lead my-3 "><%= @workshop.description %></p>
            <h4>Toatal Duration : <span class="ms-1 badge bg-secondary"><%= @workshop.total_duration %>
                </span></h4>
            <h4> Workshop hours : <span class=" mx-auto badge bg-secondary"><%= @workshop.daily_duration %>
                </span></h4>
            <h4>Total  Seats : <span class="ms-5 badge bg-secondary"><%= @workshop.total_seats %>
                </span></h4>
            <h4>Remaining Seats : <span class="badge bg-secondary"><%= @workshop.remaining_seats %>
                </span></h4>
            <h4>Registration Fee : <span class="badge bg-secondary"><%= @workshop.registration_fee %>
                </span></h4>
                <%= link_to "Back to Workshops", workshops_path, class:"btn btn-outline-warning mx-2 my-3" %>
        </div>
        
        
    </div>
    <div class="mx-auto col-lg-6 mt-5">
        <div class="card shadow mb-3">
            <div class="card-body">
              <% if @workshop.is_upcoming_workshop? && @workshop.is_no_of_seats? %>
                <div class="card-title mb-2">
                   <h2 class="title"> Reserve Your Seats </h2>
                    <%= form_with url: :bookings, data: { turbo: false } do | form | %>
                        <%= form.hidden_field :workshop_id, value: @workshop.id %>
                        <div class="form-group">
                            <%= form.label :name, class: "mb-2 mt-2" %>
                            <%= form.text_field :name, class:"form-control", required: true %>
                        </div>
                        <div class="form-group">
                            <%= form.label :email, class: "mb-2 mt-2" %>
                            <%= form.text_field :email, class:"form-control", required: true %>
                        </div>
                        <div class="form-group">
                            <%= form.label :contact_number, class: "mb-2 mt-2" %>
                            <%= form.text_field :contact_number, class:"form-control", required: true %>
                        </div>
                        <div class="form-group">
                            <%= form.label :Number_of_seats_you_want_to_book, class: "mb-2 mt-2" %>
                            <%= form.number_field :no_of_tickets, class:"form-control", required: true, min: 1, max: @workshop.remaining_seats %>
                        </div>

                        <h3 class = "my-3" >Card Details</h3>
                        <div class="form-group">
                            <%= form.label :card_number, class: "my-2" %>
                            <%= form.text_field :card_number, class: " form-control ", required: true %>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <%= form.label :cvv, class: "my-2" %>
                                    <%= form.text_field :cvv, class: " form-control ", required: true, maxlength: 4 %>
                                </div>
                            </div>
                            <div class="col-lg-3">
                               <div class="form-group">
                                    <%= form.label :exp_month, class: "my-2" %>
                                    <%= form.text_field :exp_month, class: " form-control ", required: true, min: 1,max: 12 %>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <%= form.label :exp_year, class: "my-2" %>
                                    <%= form.text_field :exp_year, class: " form-control ", required: true,min: 2022, max: 2026 %>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <%= form.submit "Book Your Tickets", class: "btn btn-warning mt-3"%>
                        </div>
                    <% end %>
                 </div>
                 <% else %>
                    <h4 class="card-title mb-2 p-4 bg-danger rounded">
                        Sorry! Booking closed for this Workshop
                    </h4>
              <% end %>
            </div>
        </div>
    </div>
    
</div>